{% extends "blog/base.html" %}
{% block content %}
{% for post in posts %}
<article class="media content-section">

    {% if post.author %}

    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url}}">
    {% endif %}
         <div class="media-body">
           <div class="article-metadata">
             <a class="mr-2" href="#">{{ post.author }}</a>
             <a class="mr-2" href="#">{{ post.author.id }}</a>
             <small class="text-muted">{{ post.date_posted|date:"F d , Y" }}</small>
            </div>
            <a class="mr-2" href="{% url 'post-detail' post.id %}">{{ post.author }}</a> 
           <h2> <a class="article-title" href="{% url 'post-detail' post.id %}"> {{ post.title }}</a></h2>
           <p 
           lass="article-content">{{ post.content }}</p>         
           
         </div>
</article>
{% endfor %}

<h2>Friends</h2>
    {% for friend in friends %}
        <a href="">
            <h3>{{ friend.username }}</h3>
        </a>
        <a href=" ">
        <button type="button" class="btn btn-default">Remove Friend</button>
        </a>
    {% endfor %}


<article class="media content-section">
    <h2>Other People</h2>
    {% for user in users %}
    
        <a href="{% url 'home:view_profile_with_pk' pk=user.pk %}">
            <h3>{{ user.username }}</h3>
        </a>
        {% if not user in friends %}
        <a href="{% url 'blog:add_friends' pk=user.pk %}">
        <button type="button" class="btn btn-success">Add Friend</button>
        </a>
        {% endif %}
    {% endfor %}
    <h2>Friends</h2>
    {% for friend in friends %}
        <a href="{% url 'blog:view_profile_with_pk' pk=friend.pk %}">
            <h3>{{ friend.username }}</h3>
        </a>
        <a href="{% url 'home:change_friends' operation='remove' pk=friend.pk %}">
        <button type="button" class="btn btn-default">Remove Friend</button>
        </a>
    {% endfor %}
</article>

{% endblock content %} 
